<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>中国邮政</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>

<div layout-fill style="overflow: hidden">
    <div layout="column" layout-fill>
        <md-toolbar>
            <div class="md-toolbar-tools top-toolbar drag">
                <h2>
                    <span>中国邮政代理金融业务发展情况日报表采集系统</span>
                </h2>
                <div flex class="text-center">
                    <span>{{pageTitle}}</span>
                </div>
                <md-button class="md-icon-button no-drag" title="开发者工具" ng-click="devTools()">
                    <md-icon>star</md-icon>
                </md-button>
                <md-button class="md-icon-button no-drag" title="最小化" ng-click="minimize()">
                    <md-icon>remove</md-icon>
                </md-button>
                <md-button class="md-icon-button no-drag" title="全屏" ng-click="maximize()">
                    <md-icon>add</md-icon>
                </md-button>
                <md-button class="md-icon-button no-drag" title="关闭" ng-click="closeWindow()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <div flex layout="row">
            <div layout="column" class="cu-navbar">
                <md-button class="md-icon-button" ng-repeat="btn in menus"
                           ng-class="{'md-primary' : isActive(btn.route)}" href="#{{btn.route}}">
                    <md-icon>{{btn.icon}}</md-icon>
                    <md-tooltip md-direction="right">
                        {{btn.name}}
                    </md-tooltip>
                </md-button>
                <span flex></span>
            </div>
            <md-divider></md-divider>
            <div flex layout="column" style="overflow-y: auto;overflow-x:hidden;position: relative;">
                <ng-view layout-padding id="container"></ng-view>
                <span flex></span>
                <md-divider></md-divider>
                <div class="text-center cu-footer">
                    ©2016 迪尔码国际营销服务(北京)有限公司
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../bower_components/system.js/dist/system.js"></script>
<script>
    SystemJS.config({
        defaultJSExtensions: true,
        traceurOptions: {
            debug: true,
            generators: true
            //https://github.com/google/traceur-compiler/blob/master/src/Options.js#L25
        },
        map: {
            app: 'scripts/common/app',

            jquery: 'bower/jquery/dist/jquery',
            angular: 'bower/angular/angular',

            'angular-material': 'bower/angular-material/angular-material',
            'angular-material-css': 'bower/angular-material/angular-material.min.css',
            'angular-animate': 'bower/angular-animate/angular-animate',
            'angular-aria': 'bower/angular-aria/angular-aria',
            'angular-messages': 'bower/angular-messages/angular-messages',
            'angular-electron': 'bower/angular-electron/angular-electron',
            'angular-route': 'bower/angular-route/angular-route',
            'angular-resource': 'bower/angular-resource/angular-resource',
            'material-design-icons': 'bower/material-design-icons/iconfont/material-icons.css',

            lodash: 'bower/lodash/dist/lodash.min',
            co: 'bower/co/co',
            setimmediate: 'bower/setimmediate/setimmediate',

            moment_base: 'bower/moment/moment',
            moment: 'bower/moment/locale/zh-cn',
            config: 'scripts/config',
            webList: 'data/webList.json',
            webListDefault: 'data/webList_default.json',

            //加载插件
            //es6 -> es5
            traceur: 'bower/traceur/traceur.min',
            json: 'bower/systemjs-plugin-json/json',
            css: 'bower/systemjs-plugin-css/css',
            text: 'bower/systemjs-plugin-text/text'
        },
        meta: {
            setimmediate: {format: 'global'},
            co: {format: 'global', deps: ['setimmediate']},
            moment_base: {format: 'global'},
            moment: {format: 'global', deps: ['moment_base']},
            angular: {deps: ['jquery']},
            'angular-electron': {deps: ['angular']},
            'angular-route': {deps: ['angular']},
            'angular-resource': {deps: ['angular']},
            'angular-material': {
                deps: [
                    'angular', 'angular-aria', 'angular-messages', 'angular-animate',
                    'angular-material-css!css', 'material-design-icons!css'
                ]
            },
            'angular-aria': {deps: ['angular']},
            'angular-messages': {deps: ['angular']},
            'angular-animate': {deps: ['angular']}
        },
        paths: {
            'bower/': '../bower_components/'
        }
    });

    SystemJS.import('scripts/start');
</script>
</body>
</html>