<h3 layout="row" layout-align="center center">
    <span>仪表盘</span>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="setTimer($event)">
        <md-icon>timer</md-icon>
        <md-tooltip>{{timerTooltip}}</md-tooltip>
    </md-button>
    <md-datepicker ng-model="date" md-placeholder="请选择日期" md-max-date="maxDate"></md-datepicker>
    <md-button style="margin: 0;" ng-click="startAll()">立即启动</md-button>
</h3>

<md-content>
    <md-grid-list
            md-cols-gt-md="4" md-cols="3" md-row-height="5:3"
            md-gutter="16px" class="cu-grid-list">
        <md-grid-tile ng-repeat="tile in tiles"
                      ng-style="{'background': tile.color}" class="md-whiteframe-3dp">

            <md-icon>face</md-icon>

            <md-grid-tile-footer>
                <div layout="row" layout-align="center center">
                    <span flex style="margin-left: .5em;">{{tile.name}}</span>
                    <md-menu>
                        <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
                            <md-icon md-menu-origin>menu</md-icon>
                        </md-button>
                        <md-menu-content width="3" class="md-dense">
                            <md-menu-item>
                                <md-button ng-click="start(tile)">
                                    <md-icon>playlist_add</md-icon>
                                    启动
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
    <hr>
    <md-list>
        <md-subheader class="md-no-sticky">运行记录</md-subheader>
        <md-divider></md-divider>
        <md-list-item ng-repeat="log in webLogs | limitTo:15 | reverse" ng-click="showLogDetails(log, $event)"
                      style="font-size: 12px">
            <p flex>{{ log.message }}</p>
            <span class="md-no-sticky md-caption">{{log.time}}</span>
        </md-list-item>
    </md-list>
</md-content>