<md-dialog aria-label="Mango (Fruit)" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>设置定时器</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-content layout="column" layout-padding style="width: 600px;">
                <section flex layout="column">
                    <md-input-container class="md-block">
                        <label>启动方式</label>
                        <md-select ng-model="web.timer.type">
                            <md-option value="0">一次</md-option>
                            <md-option value="1">每天</md-option>
                            <md-option value="2">每周</md-option>
                            <md-option value="3">每月</md-option>
                        </md-select>
                    </md-input-container>

                    <div ng-if="web.timer.type == 0" layout="row" layout-align="center center">
                        <md-input-container class="md-block" flex>
                            <label>启动时间</label>
                            <cu-time-select ng-model="web.timer.startTime"></cu-time-select>
                        </md-input-container>
                        <md-datepicker ng-model="timer.date" md-placeholder="选择日期"></md-datepicker>
                    </div>

                    <div ng-if="web.timer.type == 1" layout="row">
                        <md-input-container class="md-block" flex>
                            <label>启动时间</label>
                            <cu-time-select ng-model="web.timer.startTime"></cu-time-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex>
                            <label>间隔周期</label>
                            <cu-time2-select ng-model="web.timer.sp"></cu-time2-select>
                        </md-input-container>
                    </div>

                    <div ng-if="web.timer.type == 2" layout="row">
                        <md-input-container class="md-block" flex>
                            <label>选择星期</label>
                            <cu-week-time-select ng-model="web.timer.week"></cu-week-time-select>
                        </md-input-container>

                        <md-input-container class="md-block" flex>
                            <label>启动时间</label>
                            <cu-time-select ng-model="web.timer.startTime"></cu-time-select>
                        </md-input-container>
                    </div>

                    <div ng-if="web.timer.type == 3" layout="row">
                        <md-input-container class="md-block" flex>
                            <label>选择当月的某天</label>
                            <cu-date-select ng-model="web.timer.days"></cu-date-select>
                        </md-input-container>

                        <md-input-container class="md-block" flex>
                            <label>启动时间</label>
                            <cu-time-select ng-model="web.timer.startTime"></cu-time-select>
                        </md-input-container>
                    </div>

                    <div ng-if="web.timer.type != 0">
                        <h5 style="color: #7C7C7C;margin-bottom: .7em;">使用计划</h5>
                        <div layout="row" layout-align="start center">
                            <md-datepicker ng-model="timer.date"
                                           md-placeholder="开始"></md-datepicker>
                            <span style="margin: 0 1em 0 2em;">到</span>
                            <md-datepicker ng-model="timer.date" md-placeholder="结束">
                            </md-datepicker>
                        </div>
                    </div>
                </section>

            </md-content>

        </md-dialog-content>
        <md-dialog-actions class="text-right">
            <md-button ng-click="answer(web)">
                保存
            </md-button>
            <md-button ng-click="answer()" style="margin-right:20px;">
                取消
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>